body {
    margin: 0;                         /* Remove default margin */
    display: grid;                     /* Use CSS Grid (2x2) */
    grid-template-rows: 40px auto;     /* 2 rows: first is 40px, second fills remaining space */
    grid-template-columns: 200px auto; /* 2 cols: first is 200px, second fills remaining space */
    height: 100vh;                     /* Take up full height of screen */
    overflow: hidden;                  /* Prevent scrolling/scroll bars */
}

#menu-bar {
    width: 100vw;            /* Take up full width of screen */
    grid-column: span 2;     /* Span both columns */
    background-color: #333;  /* Dark background color */
    color: #fff;             /* Light text color */
    display: flex;           /* Use flexbox layout (horizontal axis */
}

#current-circuit {
    min-width: 200px;        /* Minimum width of 150px */
    max-width: 300px;        /* Maximum width of 300px */
    height: 40px;            /* Height of 40px */
    text-align: center;      /* Center text */
    background-color: #555;  /* Gray background */
    padding: 0 10px;         /* 0px padding top/bottom, 10px padding left/right */
    display: flex;           /* Use flexbox layout */
    align-items: center;     /* Center text vertically */
}

#menu-btns {
    display: flex;                 /* Use flexbox layout (horizontal axis) */
    justify-content: space-evenly; /* Evenly space buttons */
    width: 100%;                   /* Take up full width of menu bar minus current curcuit */
    align-items: center;           /* Center items vertically */
}

.menu-btn {
    background-color: transparent; /* Transparent background */
    border: none;                  /* Remove border */
    border-radius: 4px;            /* Rounded corners */
    color: white;                /* White text color */
    padding: 6px 10px;             /* 6px padding top/bottom, 10px padding left/right */
    font-size: 14px;               /* Medium font size */
    cursor: pointer;               /* Change cursor to pointer on hover */
}

.menu-btn:hover { background-color: #3498db; }  /* Blue background on hover */
.menu-btn:active { background-color: #2980b9; } /* Slightly darken background when clicked */

#sidebar {
    height: calc(100vh - 40px); /* Take up remaining height of screen */
    box-sizing: border-box;     /* Ensures padding is included in the height */
    background-color: #f4f4f4;  /* Light background color */
    overflow-y: auto;           /* Scroll if content is too tall */
    display: flex;              /* Use flexbox layout */
    flex-direction: column;     /* Use vertical axis in flexbox layout */
    padding: 10px;              /* Padding all around */
}

.sidebar-tab {
    margin-bottom: 10px;    /* Add space between sidebar tabs */
}

.sidebar-btn {
    display: flex;                  /* Use flexbox layout (horizontal axis) */
    justify-content: space-between; /* Put extra space between text and chevron */
    align-items: center;            /* Center items vertically */
    width: 100%;                    /* Take up full width of sidebar */
    padding-left: 10px;             /* 10px padding to the left of the text */
    background-color: #ddd;         /* Light background color */
    border: none;                   /* Remove border */
    border-radius: 4px;             /* Rounded corners */
    cursor: pointer;                /* Change cursor to pointer on hover */
    font-size: 14px;                /* Medium font size */
}

.sidebar-btn:hover {
    background-color: #bbb;     /* Slightly darken background color on hover */
}

.dropdown-content {
    display: none;            /* Hide dropdown content by default */
    flex-direction: column;   /* Use vertical axis in flexbox layout */
    padding-left: 10px;       /* Add padding to the left of dropdown content */
    margin-top: 5px;          /* Add space above dropdown content */
}

.dropdown-item {
    margin-top: 3px;         /* Add space above each dropdown item */
    padding: 5px 10px;       /* 5px padding top/bottom, 10px padding left/right */
    background-color: white; /* White background */
    border: 1px solid #ddd;  /* Light border */
    border-radius: 4px;      /* Rounded corners */
    cursor: pointer;         /* Change cursor to pointer on hover */
    font-size: 12px;         /* Small font size */
}

.dropdown-item:hover {
    background-color: #e0e0e0;   /* Slightly darken background on hover */
}

#canvas-container {
    width: calc(100vw - 200px);   /* Take up remaining width of screen */
    height: calc(100vh - 40px);   /* Take up remaining height of screen */
    background-color: #f9f9f9;    /* Light background color */
}

#canvas {
    background-color: #fff;       /* White background */
}

.material-icons.md-24 { font-size: 24px; }  /* 24px icon size */
.material-icons.md-32 { font-size: 32px; }  /* 32px icon size */
.material-icons.md-36 { font-size: 36px; }  /* 36px icon size */
